<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频管理界面</title>

    <meta charset="utf-8"></meta>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/default/easyui.css"
          th:href="@{/jquery-easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui/themes/icon.css"
          th:href="@{/jquery-easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"
          th:href="@{/css/login.css}"/>
    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"
            th:src="@{/jquery-easyui/jquery.min.js}"></script>
    <script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js"
            th:src="@{/jquery-easyui/jquery.easyui.min.js}"></script>
</head>

<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="width: 100%;height: 9%">
    </div>

    <div data-options="region:'center',title:'用户列表'">
        <table id="datagrid"  class="easyui-datagrid" style="width:100%;height:100%"
               url=""
               toolbar="#dgtoolbar" pagination="true"
               pageSize="25"    pageList="[25,15,10]"
               rownumbers="false" fitColumns="true" singleSelect="true" >
            <thead>
            <tr>
                <th data-options="field:'sno',align:'center',width:'9%'">工号</th>
                <th data-options="field:'sname',align:'center',width:'9%'">姓名</th>
                <th data-options="field:'password',align:'center',width:'9%'">密码</th>
                <th data-options="field:'tno',align:'center',width:'11%'">课程号</th>
                <th data-options="field:'tname',align:'center',width:'9%'">课程名</th>
                <th data-options="field:'tgrade',align:'center',width:'9%'">成绩</th>
            </tr>
            </thead>
        </table>
        <div id="dgtoolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUsers()">添加用户</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="removeUsers()">删除用户</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="editUsers()">修改信息</a>
        </div>

    </div>
</div>
<!--</div>-->

<div id="modifydg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#modifydg-buttons">
    <div class="ftitle">用户信息</div>
    <form id="fim" method="post" >
        <div class="fitem">
            <label>学号:</label>
            <input name="sno" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>姓名:</label>
            <input name="sname" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>密码:</label>
            <input name="password" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程号:</label>
            <input name="tno" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程名:</label>
            <input name="tname" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程名:</label>
            <input name="tgrade" class="easyui-validatebox" required="true" />
        </div>
    </form>
</div>
<div id="modifydg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="saveUsers()">保存</a>
    <a href="#" class="easyui-linkbutton"  onclick="javascript:$('#modifydg').dialog('close')">取消</a>
</div>

<div id="adddg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#adddg-buttons">
    <div class="ftitle">用户信息</div>
    <form id="fam" method="post" >
        <div class="fitem">
            <label>学号:</label>
            <input name="sno" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>姓名:</label>
            <input name="sname" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>密码:</label>
            <input name="password" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程号:</label>
            <input name="tno" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程名:</label>
            <input name="tname" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>课程成绩:</label>
            <input name="tgrade" class="easyui-validatebox" required="true" />
        </div>
    </form>
</div>
<div id="adddg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="addUsers()">添加</a>
    <a href="#" class="easyui-linkbutton"  onclick="javascript:$('#adddg').dialog('close')">取消</a>
</div>

</body>
<script th:inline="javascript">
    $(function() {
        $('#login').form({
            url:"/userLogin",
            onSubmit: function(){
                // do some check
                // return false to prevent submit;
            },
            success:function(data){
                location.href='/home';
            }
        });

    });
    function login_submit() {
        $('#login').submit();
    }
</script>
</html>